/* Colors
yellow: f8981c
grey: bcbbbb
dark grey: 747704

Fonts:
font-family: 'Raleway', sans-serif;
font-family: 'Indie Flower', cursive;
*/
body {
	font-family: 'Raleway', sans-serif;
}

img {
	border-radius: 1%;
	cursor: pointer;
}

.gray-background {
	background-color: #DEDDDD
}

.top-margin{
	margin-top: 20px;
}

.bottom-margin{
	margin-bottom: 20px;
}

h1{
	font-family: 'Indie Flower', cursive;
}

h3{
	font-family: 'Indie Flower', cursive;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.img-cirle{
	border-radius: 50%;
}

/*.text-overflow {
	overflow: auto;
}*/